<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>
    <%if(productos.length>0){ %>
    <main class="mt-5">
        <nav class="main__breadcrumb-container" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="http://localhost:3030/">Home</a></li>
            <li class="breadcrumb-item"><a href="http://localhost:3030/<%=productos[0].category%>"><%=productos[0].category.name%></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%=productos[0].marca.name%></li>
            </ol>
        </nav>
        <h2 class="ms-4" style="margin-top: 90px;"><%=productos[0].marca.name%></h2>
        <div class="mt-2 main__list-container d-flex flex-wrap">
            <% productos.forEach(producto=>{ %> 
            <div class="card list__card-container m-2" >
              <img src="/img/product/<%=producto.image%>" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title"><%=producto.name%></h5>
                    <% if (producto.offer > 0) {%> 
                        <div class="card-text text-light-emphasis d-flex" ><p class="me-1" style="text-decoration: line-through;"><%=producto.price%> </p> <span class="text-success">  <%=producto.offer%> %</span></div>
                        <p class="card-text"><%= producto.price - (producto.price  * producto.offer/100) %></p>
                    <%}else{%>  
                        <p class="card-text"><%=producto.price%></p>
                    <%}%>
                <a href="http://localhost:3030/product/detail/<%=producto.id%>" class="btn btn-primary text-info">ver</a>
                </div>
            </div>
            <%})%>
        </div>
    </main>
    <%}else{ %>
        <h2 style="margin-top: 110px;">Ningun producto de la marca asignada</h2>
    <%}%>
    <%- include("../partials/footer") %>
</body>
</html>