<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main>
        <% productos.forEach(producto=>{ %> 
            <div class="py-5 d-flex flex-wrap flex-row justify-content-around">
                <div class="card m-2" style="width: 18rem;">
                  <img src="/img/product/<%=producto.image%>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><%=producto.name%></h5>
                    <p class="card-text"><%=producto.price%></p>
                    <p class="card-text"><%=producto.offer%></p>
                    <a href="http://localhost:3030/product/detail/<%=producto.id%>" class="btn btn-primary text-info">ver</a>
                  </div>
            </div>
            <%})%>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>