<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main>
    <section class="section__create">
            <h3 class="my-5">Editar producto:</h3>
        <form class="create__container d-flex flex-column justify-content-center align-items-center" enctype="multipart/form-data" action="/product/edit/<%= product.id %>?_method=PUT" method="POST">
            <div class="form-floating mb-3">
                <input type="text" name="name" class="form-control" id="floatingInput" placeholder="Nombre">
                <label for="floatingInput"><%= product.name%></label>
            </div>
            <article>
                <select name="category" class="form-select" aria-label="categoria">
                    <option selected>Categoria</option>
                    <% categorias.forEach(cat=>{ %>
                        <option value="<%=cat.id%>"><%=cat.name%></option>
                    <% }) %>
                    
                    
                </select>
                <select name="marca" class="form-select" aria-label="marca">
                    <option selected>Marca</option>
                    <% marcas.forEach(marc=>{ %>
                        <option value="<%=marc.id%>"><%=marc.name%></option>
                    <% }) %>
                </select>
            </article>
            <article>
                <div class="form-floating w-50">
                    <input type="number" name="stock" class="form-control" id="floatingInput" placeholder="stock">
                    <label for="floatingInput"><%= product.stock%></label>
                </div>
                <div class="form-floating w-50">
                    <input type="number" name="price" class="form-control" id="floatingInput" placeholder="precio">
                    <label for="floatingInput">$ <%= product.price%></label>
                </div>
            </article>
            <article>
                <select name="top_seller" class="form-select" aria-label="destacado">
                    <option selected>Destacado</option>
                    <option value="1">si</option>
                    <option value="2">no</option>
                </select>
                <div class="form-floating w-50">
                    <input type="number" name="offer" class="form-control" id="floatingInput" placeholder="oferta">
                    <label for="floatingInput"><%= product.offer%> %</label>
                </div>            
            </article>
            <article>
                <label class="text-secondary w-25">Imagen: </label>
                <input type="file" name="image" id="productImage" accept="image/*">
            </article>
            <article class="form-floating">
                <textarea class="form-control" name="description" placeholder="descripcion" id="floatingTextarea"></textarea>
                <label for="floatingTextarea"><%= product.description%></label>
            </article>
            <article class="w-75 d-flex justify-content-center">
                <button class="btn btn-outline-success text-black w-100" type="submit">Continuar</button>
            </article>
        </form>
    </section>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>