<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("../partials/header") %>
    <nav class="detail__breadcrumb-container mb-1" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/product/category/<%=product.category.id%>"><%= product.category.name %></a></li>
        <li class="breadcrumb-item"><a href="/product/marca/<%=product.marca.id%>"><%= product.marca.name %></a></li>
        <li class="breadcrumb-item active" aria-current="page"><%= product.name %></li>
        </ol>
    <!--  <form action="/product/delete/1?_method=DELETE" method="POST">
        <button type="submit">Eliminar Producto</button>
    </form> -->
    </nav>
    <main class="mt-4">
        <article class="article__product-container">
            <section class="section-img">
                <div id="carouselExampleIndicators" class="carousel slide img-container">
                    <div class="carousel-inner img-product__container">
                        <div class="carousel-item active"><img src="/img/product/<%= product.image[0] %>" alt="producto"></div>
                        <div class="carousel-item "><img src="/img/product/<%= product.image[1] %>" alt="producto"></div>
                        <div class="carousel-item "><img src="/img/product/<%= product.image[2] %>" alt="producto"></div>
                    </div>
                    <div class="carousel-indicators img-mini__container">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"><img class="w-100 img-thumbnail" src="/img/product/<%= product.image[0] %>" alt="producto"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"><img class="w-100 img-thumbnail" src="/img/product/<%= product.image[1] %>" alt="producto"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"><img class="w-100 img-thumbnail" src="/img/product/<%= product.image[2] %>" alt="producto"></button>
                      </div>
                   
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                </div>
            </section>
            <section class="section-body">
                <div class="product-desc m-2">
                    <p class="text-info bg-black p-1 d-inline"><%= product.marca.name %></p>
                    <h2 class=""><%= product.name %></h2>
                    <p class=""><%= product.description %></p>
                </div>
                <div class="product-buy m-2">
                    <% if (product.offer > 0) {%> 
                        <div class="text-light-emphasis d-flex" ><p class="me-1 mb-0" style="text-decoration: line-through;">$ <%=product.price%> </p> <span class="text-success">  <%=product.offer%> %</span></div>
                        <p style="font-size: 1.7rem;" class="text-secondary">$ <%= product.price - (product.price  * product.offer/100) %></p>
                    <%}else{%>  
                        <p style="font-size: 1.7rem;" class="text-secondary">$ <%=product.price%></p>
                    <%}%>
                    <p class="text-success mt-3">¡Stock disponible! <span class="text-light-emphasis"> <%= product.stock %> unidades</span></p>
                    <div class="mx-auto">
                    <button class="add-cart btn btn-secondary w-100 shadow">AGREGAR AL CARRITO</button>
                    <button class="add-favorites btn btn-outline-success shadow">Agregar a favoritos <i class="fa-regular fa-heart"></i></button>
                    </div>
                    <div class="editar-eliminar__container d-flex justify-content-around">
                        <a href="/product/edit/<%=product.id%>" class="btn btn-info w-25 shadow">Editar</a>
                        <form class="w-25" action="/product/delete/<%=product.id%>?_method=DELETE" method="POST"><button type="submit" class="btn btn-danger w-100 shadow">Eliminar</button></form>
                    </div>
                </div>
            </section>
        </article>
       
        <h2 class="mt-5">PRODUCTOS SIMILARES</h2>
        <article class="article__producto-relacionado d-flex position-relative">
            <% if (productsSimil) { %> 
                <button class="boton-carrusel-PS boton-izq-PS"><i class="fa-solid fa-chevron-left"></i></button>
                <button class="boton-carrusel-PS boton-der-PS"><i class="fa-solid fa-chevron-right"></i></button>
                <div class="producto-relacionado__container py-3 d-flex flex-row;">
                
                    <% productsSimil.forEach(prod=>{ %> 
                     <div class="card m-2" style="width: 20rem;">
                       <img src="/img/product/<%= prod.image[0]%>" class="card-img-top p-2" alt="...">
                       <div class="card-body">
                         <h5 class="card-title"><%= prod.name%></h5>
                         <% if (prod.offer > 0) {%> 
                           <div class="card-text text-light-emphasis d-flex" >
                             <p class="me-1" style="text-decoration: line-through;"><%=prod.price%> </p> <span class="text-success">  <%=prod.offer%> %</span>
                           </div>
                           <p class="card-text"><%= prod.price - (prod.price  * prod.offer/100) %></p>
                       <%}else{%>  
                           <p class="card-text"><%=prod.price%></p>
                       <%}%>
                         <a href="/product/detail/<%=prod.id%>" class="btn btn-primary text-info">ver</a>
                       </div>
                     </div>
                     <% }) %>
                </div>
          
            <%}%> 
        </article>
    </main>
    <script src="/js/detail.js"></script>
    <%- include("../partials/footer") %>
   
</body>
</html>

