
  <nav class="navbar navbar-expand-md bg-white fixed-top">
    
    <div class="container-fluid">
      <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand ms-3" href="/"> <img src="/img/other/LogoSample.jpg" alt="logo" width="85" height="62"></a>
      </div>
      
      
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header"> 
          <%if (locals.userLogged){%>
            <div class="offcanvas-title dropdown header-profile__container">
                <a class=" dropdown-toggle d-flex align-items-center text-decoration-none " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p class="text-black m-0 me-2 fs-1">¡Hola <%=locals.userLogged.first_name%>!</p>
                  <div class="header__image-profile"><img class="w-100 h-100" src="/img/user/<%=locals.userLogged.perfil.image%>" alt=""></div>
                </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/user/profile">PERFIL</a></li>
                <li><a class="dropdown-item" href="">MI CARRITO</a></li>
                <li><a class="dropdown-item" href="/user/favorites">MIS FAVORITOS</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/user/logout">CERRAR SESION</a></li>
              </ul>
            </div>
          
          <%}else{%>
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENÚ</h5>
          <%}%>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
       
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <div class="dropdown">
              <a class="btn dropdown-toggle me-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CATEGORIAS
              </a>
            <% if (locals.categorias){ %>
              <ul class="dropdown-menu">
                <% locals.categorias.forEach(cat=>{ %>
                  <li><a class="dropdown-item" href="/product/category/<%=cat.id%>"><%= cat.name %></a></li>
                <% }) %>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/product/list">TODO</a></li>
              </ul>
              <%}%>
            </div>
            
            <div class="dropdown">
              <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                MARCAS
              </a>
              <% if (locals.marcas){ %>
                <ul class="dropdown-menu dropd-marcas">
                  <div class="dropd-marcas__container">
                  <% locals.marcas.forEach(marc=>{ %>
                    <li><a class="dropdown-item" href="/product/marca/<%=marc.id%>"><%= marc.name.toUpperCase() %></a></li>
                  <% }) %>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/product/list">TODO</a></li>
                  </div>
                </ul>
                <%}%>
            </div>
            <li class="search__container nav-item">
            <form action="/search" method="GET" class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search"  name="search"  placeholder="Que buscas?" aria-label="Search">
              <button class="btn btn-outline-success btn__buscar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            </li>
          </ul>
        </div>
      </div>
        
         <%if (locals.userLogged){%>
              <div class="dropdown header-profile__container profile-lg">
                  <a class=" dropdown-toggle d-flex align-items-center text-decoration-none " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="text-black m-0 me-1">¡Hola <%=locals.userLogged.first_name%>!</p>
                    <div class="header__image-profile"><img class="w-100 h-100" src="/img/user/<%=locals.userLogged.perfil.image%>" alt=""></div>
                  </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/user/profile">PERFIL</a></li>
                  <li><a class="dropdown-item" href="#">MI CARRITO</a></li>
                  <li><a class="dropdown-item" href="/user/favorites">MIS FAVORITOS</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/user/logout">CERRAR SESION</a></li>
                </ul>
              </div>
            
         <%}else{%>
          <ul class="navbar-nav flex-row justify-content-around pe-0.5">
            <li class="nav-item mx-2">
              <a class="nav-link text-black" href="/user/login"><i class="fa-regular fa-user"></i></a>
            </li>
          
            <li class="nav-item mx-2">
              <a class="nav-link text-black" href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
          </ul>
          <%}%>
        
    </div>
  </nav>
  <% if (locals.loggedAdmin == true) {%>
  <div id="add-product__container">
    <a href="/product/create"><i class="fa-solid fa-plus"></i>  Agregar producto</a>
    <a class="btn btn-info text-primary p-1 ms-2" href="/product/categorymarca">ADMI</a>
  </div>
  <%}%>
 
  
 
  