<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center mt-5" >
        <a class=""  href="/"> <img src="/img/other/LogoSample.jpg" alt="logo" width="120" height="120"></a>
    </div>
    <main>
    <div class="form__container">
        <h3 class="my-4">Crear cuenta</h3>
       <form action="/user/register" method="POST" class="row flex-column align-items-center g-3 needs-validation" novalidate>
        
            <div class="input__container">
                <label for="name" class="form-label">Nombre</label>
                <input value="<%= locals.oldData ? oldData.firt_name : null %>"  name="firt_name" id="name" type="text" class="form-control">
                <% if (locals.errors && errors.firt_name) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.firt_name.msg %></span>
                    <% } %> 
            </div>
            <div class="input__container">
                <label for="email" class="form-label">Email</label>
                <input  value="<%= locals.oldData ? oldData.email : null %>" name="email" id="email" type="email" class="form-control">
                <% if (locals.errors && errors.email) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.email.msg %></span>
                    <% } %> 
            </div>
            <div class="input__container">
                <label for="password" class="form-label">Contraseña</label>
                <input value="<%= locals.oldData ? oldData.password : null %>"  name="password" id="password" type="password" class="form-control">
                <% if (locals.errors && errors.password) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.password.msg %></span>
                    <% } %> 
            </div>
            <div class="input__container">
                <label for="repassword" class="form-label">Contraseña</label>
                <input  value="<%= locals.oldData ? oldData.repassword : null %>" name="repassword" id="repassword" type="password" class="form-control">
                <% if (locals.errors && errors.repassword) { %>
                    <span class="text-danger" style="color: #900; font-weight: 200;"><%= errors.repassword.msg %></span>
                    <% } %> 
            </div>
            <button type="submit" class="btn btn-outline-success text-black my-5">Continuar</button>
            <p class="mt-3">Al continuar, aceptas las <a href="">Condiciones de uso y el Aviso de privacidad</a> de CompuI</p>
            <p>¿Ya tienes una cuenta? <a href="/user/login">Inicia sesion</a></p>
        </form> 
    </div>
    <p class="mb-4 pb-2 text-center">CompuInsumos SRL © 2022. Todos los Derechos Reservados.</p>    
</main>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>